
/* ALL THE STYLES ARE IN GLOBAL CSS AS THIS PROJECT IS FIRST MADE IN REACT JS SO I HAVE SED THE STYLES OF THE REACT JS TYPICALL CLASS NAME BUT AS I WANT TO LEARN THE NEXT JS SO I JUST COPY THE ALL STYLES FROM THE THAT PREVIOUS PROJECT AND PUT ALL THE CLASSES IN THE GLOBAL CSS AND AS I AM LEARNING THE TAILWAND CSS IN THIS PROJECT SO I HAVE USE THE TAILWAND CSS AS WELL SO CSS AS A WHOLE IS SO MWSSY I HAVE USE THE NEXT JS CSS METHODS LIKE THIS FILE AND USE THE CSS CLASS METHODS IN THE GLOBAL CSS AND USED TAILWAND CSS AND IN-LINE CSS AS WELL */



/* Tailwand Configuration */
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100&family=Cormorant+Garamond:wght@300&family=Cormorant+Upright:wght@300&family=Lato&family=Roboto+Flex:opsz,wght@8..144,200&display=swap');


*,
::after,
::before {
  box-sizing: border-box;
}
::placeholder{
  font-family: 'Rubik Bubbles', cursive;
  }

html {
  font-size: 100%;
} /*16px*/


:root {
  /* colors */
  --primary-50: #e0fcff;
  --primary-100: #bef8fd;
  --primary-200: #87eaf2;
  --primary-300: #54d1db;
  --primary-400: #38bec9;
  --primary-500: #2cb1bc;
  --primary-600: #14919b;
  --primary-700: #0e7c86;
  --primary-800: #0a6c74;
  --primary-900: #044e54;

  /* grey */
  --grey-50: #f0f4f8;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #486581;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #102a43;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --headingFont: 'Roboto Condensed', Sans-Serif;
  --bodyFont: 'Cabin', Sans-Serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --breakpoint-lg: 992px;
  --nav-height: 6rem;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}


body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

.dark{
  font-size: 16px;
  font-family: 'Roboto Flex', sans-serif;
  color: dark;
}

.light{
  font-size: 16px;
  font-family: 'Roboto Flex', sans-serif;
  color: gray;
}

p {
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  color: gray;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  font-family: 'Roboto Mono', monospace;

}


h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}





a {
  text-decoration: none;
  letter-spacing: var(--letterSpacing);
}
a,
button {
  line-height: 1.15;
}
button:disabled {
  cursor: not-allowed;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}


/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-2);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background : rgb(231, 103, 103);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}
.btn-hero {
  font-size: 1.25rem;
  padding: 0.5rem 1.25rem;
}
.btn-danger {
  background: var(--red-light);
  color: var(--red-dark);
}
.btn-danger:hover {
  background: var(--red-dark);
  color: var(--white);
}
/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
  text-align: center;
  letter-spacing: var(--letterSpacing);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
  transition: var(--transition);
  font-family: 'Cormorant Garamond', serif;
}
/* .form:hover {
  box-shadow: var(--shadow-4);
} */
.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  font-family: 'Cormorant Garamond', serif;
}
.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
  font-family: 'Cormorant Garamond', serif;
  outline: none;
  box-shadow: var( --shadow-1);
}
.form-input,
.form-select,
.btn-block {
  height: 35px;
  font-family: 'Cormorant Garamond', serif;
}
.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid gray;
  border-radius: 50%;
  border-top-color: lightblue;
  animation: spinner 2s linear infinite;
}
.loading-center {
  margin: 0 auto;
}


.circle-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


/* Layouts */

.flex-even{
  display: flex;
  gap: 2rem;
}

.flex-even >*{
  flex: 1;
}


@media screen and (max-width:700px) {
  .flex-even >*{
    margin-top: 40px;
  }
}


/* Grids */

.grid-14{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(14rem,1fr));
  gap: 2rem;
}
.grid-15{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
  gap: 2rem;
}
.grid-16{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
  gap: 2rem;
}
.grid-17{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(17rem,1fr));
  gap: 2rem;
}
.grid-18{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
  gap: 2rem;
}
.grid-19{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(19rem,1fr));
  gap: 2rem;
}
.grid-20{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
  gap: 2rem;
}
.grid-21{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(21rem,1fr));
  gap: 2rem;
}
.grid-22{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
  gap: 2rem;
}
.grid-23{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(23rem,1fr));
  gap: 2rem;
}

.grid-10{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
  gap: 2rem;
}


/* grid Even */

.grid-even-2{
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.grid-even-3{
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}


.grid-even-4{
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

/* Flex masonary */

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.flex-wrap >*{
  flex-grow: 1;
  flex: 1;
  /* Three Columns In the manasory */
  /* flex-basis: 33%; */
}

.div-center-80{
  margin-left: 50%;
  transform: translateX(-50%);
  width: 80%;
}
.div-center-70{
  margin-left: 50%;
  transform: translateX(-50%);
  width: 70%;
}
.div-center-60{
  margin-left: 50%;
  transform: translateX(-50%);
  width: 60%;
}
.div-center-50{
  margin-left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

.div-center{
  margin-left: 50%;
  transform: translateX(-50%);
}


.text-center{
  text-align: center;
}

.div-perfect-center{
   transform: translate(-50%,-50%);
   position: absolute;
   top: 50%;
   left: 50%;
}

/* On the parent Div */
.list-counter-p{
  counter-reset: counter-name;
}

.list-counter-p p{
  counter-increment: counter-name;
  position: relative;
  margin-left: 40px;
}
.list-counter-p p::before{
  content: counter(counter-name) "--" "   " ;
  position: absolute;
  left: -40px;
  color: red;
}


.list-counter-li{
  counter-reset: counter-name;
}

.list-counter-li li{
  counter-increment: counter-name;
  position: relative;
  margin-left: 40px;
}
.list-counter-li li::before{
  content: counter(counter-name) "--" "   " ;
  position: absolute;
  left: -40px;
  color: red;
}

.main-div-margins{
  margin-top: 100px;
  margin-bottom: 100px;
}

.white{
  color: white;
}

.black{
  color: black;
}

.roboto{
  font-family: 'Roboto Condensed', Sans-Serif;
}


/* Styles For the components */
.nav-main{
  display: flex;
  justify-content: space-around;
}

nav ul {
  display: flex;
  gap: 2rem;
}

.nav-flex{
  display: flex;
  gap: 20px;
  /* align-items: center; */
}

.nav-end{
  display: flex;
  gap: 30px;
}

nav ul li a{
  font-family: 'Roboto Flex', sans-serif;
}

.nav-icon{
  font-size: 40px;
  cursor: pointer;
}

.nav-headers,.nav-end{
  margin-top: 10px;
}

.ham{
  font-size: 37px;
margin-top: 16px;
cursor: pointer;
display: none;
}

.small-screen-main{
  position: fixed;
top: 0px;
z-index: 20;
background: white;
height: 100vh;
width: 100%;
display: none;
transform: translateX(-1200px);
transition: .4s ease;
}

.small-screen-nav-active{
  transform: translateX(0px);
}



.small-nav-front{
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
.cross{
  cursor: pointer;
  font-size: 40px;
  color: red;
}

.small-screen-nav-center li a{
  margin-bottom: 50px;
  display: flex;
}

.small-nav-end{
  display: flex;
  gap: 40px;
  margin-top: 30px;
  padding: 0px 20px;
}


  @media screen and (max-width:900px) {
      .ham{
          display: block;
      }
      .nav-end{
          display: none;
      }
      .big-screen-nav{
          display: none;
      }
      .small-screen-main{
          display: block;
      }
  }

  .shop-btn {
      background-color: rgb(207, 115, 115);
      padding: 14px;
  }


  /* The Home Front Page */
  
  .images img{
     height: 100%;
     width: 100%;
  }

  
  .home-front-main .content p{
      line-height: 38px;
      margin-bottom: 38px;
  }
  
  .images{
      position: relative;
      padding: 30px;
      background-color: rgb(48, 38, 38);
  }

  .img-1{
      position: absolute;
  }
  .img-2{
     position: absolute;
  }
  .img-3{
    position: absolute;
  }


  @media screen and (max-width:900px){
      .home-front-main{
          grid-template-columns: 1fr;
      }
      .images{
          display: none;
      }
  }

/* 
  .flex-custom{
      display: flex;
      justify-content: space-around;
  } */

  .c-icon{
      font-size: 40px;
 
  }

.c-icon-main{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: rgb(218, 206, 206);
  display: grid;
  place-items: center;    
  align-items: center;
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
}

.c-box{
  text-align: center;
  background-color: rgb(211, 185, 185);
  padding: 10px;
  border-radius: 10px;
}

.c-front{
  margin-top: 70px;
  margin-bottom: 30px;
}

.c-main{
  background-color: rgb(228, 151, 151);
  padding: 30px;
}
.c-main p{
  color: brown;
}

/* The NewsLettere */
.news-input{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.news-input input{
  padding: 10px;
  outline: none;
  border: 1.4px solid brown;
  width: 100%;
}

.news-input button{
  position: absolute;
right: -1px;
padding: 12px;
color: brown;
background: #e38f8f;
border-radius: 0px;
}

.news-input button:hover{
  background-color: rgb(204, 194, 194);
}


.f-main{
 background-color: rgb(215, 38, 38);
 padding: 20px;
}

.f-main h5{
  color: white;
}
.single-f-card{
  position: relative;
}



.f-single-card{
  position: relative;
  cursor: pointer;
  height: 240px;
}

.f-single-card .f-img-main{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;  
}

.f-single-card img{
  height: 100%;
  width: 100%;
}

.f-overlay{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  display: none;
}

.search{
  color: white;
  font-size: 30px;
  cursor: pointer;
  z-index: 10;
  display: none;
}


.f-single-card:hover .f-overlay,.search{
  display: block;
  /* opacity: 1; */
}

/*  */
.line{
  width: 100%;
  height: 2px;
  background-color: black;
}

.p-img{
  width: 100%;
  height: 100%;
}

.color{
  display: grid;
  place-items: center;
  cursor: pointer;
}

.tick{
  font-size: 30px;
  color: white;
  display: none;
}

.activeTick{
  display: block;
}

.minus,.plus{
  font-size: 30px;
  cursor: pointer;
}

/* Cart */

.cart-img{
  height: 50px;
}

.cart-flex{
  display: flex;
  /* align-items: center; */
  gap: 10px;
}

.cart-main{
  width: 95%;
}


@media screen and (max-width:900px) {
   .cart-flex{
      flex-direction: column;
   }
   .cart-main{
      width: 95%;
   }
   .cart-head{
     display: none;
   }
}


.cart-rel{
  position: relative;
}

.cart-no{
  position: absolute;
right: -16px;
top: -8px;
font-size: 24px;
color: brown;
background: rgba(0,0,0,.3);
height: 34px;
width: 33px;
display: grid;
place-items: center;
border-radius: 50%;
}


.bill-main{
  position: relative;
}

.bill-flex{
  display: flex;
  justify-content: space-between;
}



@media screen and (max-width:800px) {
  .bill-main{
      width: 90%;
  }
  .btns-main{
      width: 90%;
  }
}


@media screen and (max-width:500px) {
  .about-main{
      width: 95%;
  }
  .single-product-main{
      width: 95%;
  }
}
@media screen and (max-width:900px) {
  .about-main,.single-product-main{
      grid-template-columns: 1fr;
  }
}

.items-flex{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}


@media  screen and (max-width:700px) {
  .items-flex{
      display: flex;
      /* align-items: center; */
      justify-content: center;
      gap: 20px;
      margin-top: 40px;
  }
  
  .item-small{
      margin-top: 10px;
  }
  
}

.grid-12{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(13rem,1fr));
  gap: 2rem;
}

.nav-main{
  align-items: center;
}


.label{
  font-family: 'Roboto Mono', monospace;
  color: white;
}

.form-font{
  font-family: 'Rubik Bubbles', cursive;
}
.alert-font,.link-font{
  font-family: 'Rubik Bubbles', cursive;
}

.image-overlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 10;
  border-radius: 50%;
  display: none;
}

.camera{
  z-index: 20;
  font-size: 30px;
  margin-left: 13px;
  display: none;
}


.Image-box:hover .image-overlay{
  display: block;  
  cursor: pointer;
}
.camera:hover{
  cursor: pointer;
}


.Image-box:hover .camera{
  display: block;  
}



/* Swipper Styles */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div-center{
  margin-left: 50%;
  transform: translateX(-50%);
}


@media screen and (max-width:1050px) {
  .milestone{
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width:600px) {
  .milestone{
    grid-template-columns:  1fr;
  }
}


.para::before {
  content: open-quote;
  font-size: 30px;
  /* font-family: 'Rubik Bubbles', cursive; */
  
}
.para::after {
  /* font-family: 'Rubik Bubbles', cursive; */
  content: close-quote;
  font-size: 30px;
}

.quotesDiv{
  background: brown;
padding: 20px;
border-radius: 10px;
}


/* The Worlds Css */

.world-main{
  margin-top: 60px;
 

}

.image-gallery{
  display: flex;
  gap: 2rem;
}

.single-image-gallery{
  transition: flex .8s ease-in-out;
  cursor: pointer;
}



.image-gallery img{
  width: 100%;
  cursor: pointer;
}

.simple-one h3{
  font-size: 1.953rem;
position: absolute;
color: white;
bottom: 50px;
transform: rotate(-90deg);

}

.active-one h3{
position: absolute;
color: wheat;
bottom: -21px;
transform: rotate(0deg);
background: red;
width: 100%;
height: 33%;

text-align: center;
background: rgba(0,0,0,.5);
color: white;
}

.image-gallery .simple-one{
  flex: 1;
}

.image-gallery .active-one{
  flex: 2;
}

.single-image-gallery{
  position: relative;
  height: 240px;
}

.single-image-gallery img{
  position:  absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image-gallery{
  overflow-x: hidden;
}

.single-image-gallery img{
  object-fit: cover;
  border-radius: 10px;
}

.world-main {
  overflow-x: hidden;
}
@media screen and (max-width:900px) {
   .image-gallery{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
   }
   .single-image-gallery h3{
      transform: rotate(0deg);
      text-align: center;
   }
}


.fancy-link {
  text-decoration: none;
  position: relative;
  padding-bottom: 10px;
}

.fancy-link:hover{
  scale: 1.1;
}

.fancy-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top: 10;
  width: 100%;
  height: 2px;
  /* background: currentColor; */
  background-color: red;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  margin-top: 20px;
}

.fancy-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}


.terms{
  counter-reset: counter-name;
}

.terms p{
  counter-increment: counter-name;
  position: relative;
  margin-left: 40px;
}
.terms p::before{
  content: counter(counter-name) "--" "   " ;
  position: absolute;
  left: -40px;
  color: red;
}

.label{
  font-family: 'Roboto Mono', monospace;
  color: white;
}

.form-font{
  font-family: 'Rubik Bubbles', cursive;
}
.Privacy h2{
  font-family: 'Roboto Mono', monospace;
  color: black;
}

.Privacy p{
  font-family: 'Rubik Bubbles', cursive;

}

.Privacy{
  counter-reset: counter-name;
}

.Privacy h2{
  counter-increment: counter-name;
  position: relative;
  margin-left: 40px;
}
.Privacy h2::before{
  content: counter(counter-name) "--" "   " ;
  position: absolute;
  left: -80px;
  color: red;
}

.nav-main{
  position: sticky;
top: 0px;
left: 0px;
box-shadow: 2px 2px 2px aliceblue;
background-color: brown;
}

@media screen and (max-width:900px) {
  .Register-Google{
    flex-direction: column;
  }
}


@media screen and (max-width:700px) {
  .Testimonial-Card{
    width: 90%;
  }
  .User-Image-Card{
    flex-direction: column;
  }
}




/* The Mock file to see how the style work in next js */
@media screen and (max-width:900px) {

  .form{
      width: 100%;
  }

  .fWrapper{
      grid-template-columns: 1fr;
  }
}


@media screen and (max-width:1200px) {
  .lImg{
      display: none;
  }
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


.mainDivStatic1{
  background: url("./utils/img/4.jpg") no-repeat;
  background-attachment: fixed;
  /* height: 100vh; */
  background-size: cover;
  padding: 40px 0px;
}


.nav-main{
  height: 80px;
}